*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/signing/**

# Ignore Proguard folder
proguard/

# Ignore Log files
*.log

# Ignore generated APKs and AABs
*.apk
*.ap_
*.aab

# Ignore backup files
*~
